* {margin: 0; padding: 0;}
* {box-sizing: border-box;}
*::before, *::after {
  box-sizing: border-box;
}
ul {list-style: none;}
@mixin wrapper($background) {
  width: 1200px;
  height: 100%;
  background: $background;
  margin: 0 auto;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.header {
  width: 100%;
  height: 45px;
  background: red;
  display: flex;
  justify-content: space-between;
  > .logo a {
    display: inline-block;
    width: 78px;
    height: 21px;
    background:url("../images/player_logo.png") no-repeat 0 0;
    margin-left: 20px;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  > .register {
    display: flex;
    align-items: center;
    margin-right: 20px;
    > li {
      margin: 10px;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
      color: #fff;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
}
.content {
  width: 100%;
  flex: 1;
  background: blue;
  >.wrapper {
    @include wrapper(pink);
  }
}
.footer {
  width: 100%;
  height: 60px;
  background: green;
  >.wrapper {
    @include wrapper(orange);
  }
}